@model IEnumerable<ServiceStation.Application.Clients.ClientDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    <a class="btn btn-primary" asp-controller="Clients" asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="p-2">
                <a class="btn btn-primary m-1" asp-controller="ServiceStation" asp-action="CarIndex" asp-route-Id="@item.Id">Cars</a>
            </td>
            <td class="d-flex justify-content-end p-2">
                <a class="btn btn-primary m-1" asp-controller="Clients" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                <a class="btn btn-primary m-1" asp-controller="Clients" asp-action="Details" asp-route-Id="@item.Id">Details</a>
                <a class="btn btn-danger m-1" asp-controller="Clients" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
