@model IEnumerable<ServiceStation.Application.ServiceStation.CarDto>
@{
    var defaultClientId = 1;
    var IdClient = int.TryParse(ViewContext.RouteData.Values["Id"]?.ToString(), out var parsedId)
        ? parsedId
        : defaultClientId;
    ViewData["Title"] = "CarIndex";
}

<h1> Car List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-Id="@IdClient">Create New</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Clients">Back to List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEditable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEditable)
            </td>
            <td>
                <a class="btn btn-primary m-1" asp-controller="ServiceStation" asp-action="Edit" asp-route-LicensePlate="@item.LicensePlate">Edit</a>
                <a class="btn btn-primary m-1" asp-controller="ServiceStation" asp-action="Details" asp-route-LicensePlate="@item.LicensePlate">Details</a>
                <a class="btn btn-danger m-1" asp-controller="ServiceStation" asp-action="Delete" asp-route-LicensePlate="@item.LicensePlate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
