@model ServiceStation.Application.ServiceStation.CarDto

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CarName Details</h1>

<div>
    <h4>CarDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClient)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsEditable)
    {
        <a class="btn btn-primary" asp-controller="ServiceStation" asp-action="Edit" asp-route-LicensePlate="@Model.LicensePlate">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
