@model IEnumerable<ServiceStation.Application.ServiceStation.CarDto>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @if (item.IsEditable)
                {
                    <a class="btn btn-primary" asp-controller="ServiceStation" asp-action="Edit" asp-route-LicensePlate="@item.LicensePlate">Edit</a>
                }
                <a class="btn btn-primary" asp-controller="ServiceStation" asp-action="Details" asp-route-LicensePlate="@item.LicensePlate">Details</a>
                <a class="btn btn-primary" asp-controller="ServiceStation" asp-action="Delete" asp-route-LicensePlate="@item.LicensePlate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
